# -----------------------
# Maven / Build files
# -----------------------
target/
build/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# -----------------------
# Eclipse files
# -----------------------
.project
.classpath
.settings/
.factorypath
.apt_generated/
.sts4-cache/

# -----------------------
# IntelliJ IDEA files
# -----------------------
.idea/
*.iml
*.iws
*.ipr

# -----------------------
# VSCode
# -----------------------
.vscode/

# -----------------------
# Logs
# -----------------------
*.log

# -----------------------
# OS files
# -----------------------
.DS_Store
Thumbs.db

# -----------------------
# Output folders
# -----------------------
/bin/
/out/

# -----------------------
# Credentials (keep out of Git)
/src/main/resources/application.properties
/src/main/resources/application.yml

# -----------------------
# Backup / temp files
# -----------------------
*.swp
*.bak
*.tmp

# -----------------------
# Keep these files in Git
# -----------------------
!.gitattributes
!HELP.md
!LICENSE
!mnvw
!mnvw.cmd
!README.md
